@font-face {
  font-family: "Walkway";
  src: url(./fonts/WalkwaySemiBold.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

/* general styles */

h3,
label {
  font-family: "Walkway", sans-serif;
  font-size: 1.25em;
  text-align: center;
  margin: 0.5em 0;
  display: block;
  width: 100%;
}

select,
input {
  background-color: #eee;
  border-width: 0;
  font-size: 1em;
  line-height: 1em;
  padding: 1em 1em;
  margin: 0 auto 1em;
  width: 50%;
}

input {
  margin: 0 auto 0;
}

.error {
  color: #dc3545;
}

select {
  cursor: pointer;
}

button {
  margin: 0 auto;
  display: block;
  font-family: "Walkway", sans-serif;
  font-size: 1.5em;
  color: #fff;
  padding: 0.75rem 5rem;
  background: #83329b;
  border: 1px solid #83329b;
  border-radius: 10px;
  cursor: pointer;
}

.vjs-player {
  display: none;
}

/* login */

.login {
  display: flex;
  max-width: 768px;
  margin: 0 auto;
}

.login > .login-box {
  margin: 1em;
  padding: 1em;
  flex: 1;
  background: #83329b;
  color: #fff;
  text-decoration: none;
}

.login > .login-box > h3 {
  color: #fff;
  font-family: "Walkway", sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
}

/* results */

.results-container {
  background: #dac1e1;
  min-height: 100vh;
  padding: 1em;
}

.result-link {
  text-decoration: none;
  color: #000;
}

.result {
  display: flex;
  background: #fff;
  margin: 0 auto 1em;
  max-width: 768px;
  border-radius: 15px;
  padding: 0.25rem 0;
}

.result > div:first-child {
  flex: 3;
  text-align: left;
  padding-right: 0.25rem;
}

.result > div:first-child > h3 {
  text-align: left;
  font-size: 1.5em;
  font-family: sans-serif;
  padding: 1rem 1.5rem 0;
}

.results-first-span {
  border-top: 1px solid #a6a6a6;
}

.result > div:first-child > div {
  padding: 0 1.5rem 0;
}

.result > div:first-child > div {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #a6a6a6;
}

.result > div:first-child > div:last-child {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: none;
}

.result .notes {
  display: flex;
}

.result .notes > p:first-child {
  padding-right: 0.5rem;
}

.result .type,
.result .number {
  font-size: 2em;
  font-weight: 700;
  margin: 0.5rem;
}

.result > div:last-child {
  flex: 1;
  border-left: 2px solid #929292;
}

/* make video stretch fullscreen */

#root {
  height: 100vh;
}

.video-js {
  width: 100%;
  height: 100%;
}

.video-js canvas {
  left: 0;
  right: 0;
  bottom: 0;
}

.video-js .vjs-big-play-button {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
